[Unit]
Description=Emacs Wayland Manager
Documentation=https://github.com/ezemtsov/ewm
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Slice=session.slice
Type=notify
ExecStart=/usr/bin/ewm-emacs
